@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#fffafb] text-slate-900;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fff1f2; /* rose-50 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fecdd3; /* rose-200 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fda4af; /* rose-300 */
}
