@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f4f4f5; /* zinc-100 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e7; /* zinc-200 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8; /* zinc-300 */
}
